.hero {
    background-color: #ECFFEB;
    width: 1440px;
    height: 584px;

    .container {
        display: flex;
        justify-content: center;
        padding: 28px 96px 0 117px;

        .hero_left {
            padding-top: 71px;

            .hero_left--top {

                span {
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 26px;
                    letter-spacing: 0px;
                    text-align: center;
                    color: #424242;
                }

                h1 {
                    font-weight: 700;
                    font-size: 65px;
                    line-height: 65px;
                    letter-spacing: 0px;
                    color: #55A630;
                    margin-bottom: 20px;
                }

                p {
                    width: 419px;
                    height: 72px;
                    font-weight: 500;
                    font-size: 20px;
                    line-height: 23px;
                    letter-spacing: 0px;
                    color: #424242;
                    margin-bottom: 57px;
                }
            }

            .hero_left--bottom {
                display: flex;
                gap: 20px;

                .hero_link-left {
                    display: block;
                    width: 285px;
                    height: 66px;
                    background-color: #55A630;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 26px;
                    letter-spacing: 0px;
                    text-align: center;
                    color: #ffffff;
                    padding: 22px 58px 22px 59px;

                }

                .hero_link-right {
                    display: block;
                    width: 285px;
                    height: 66px;
                    border: 1px solid #55A630;
                    font-weight: 600;
                    font-size: 18px;
                    line-height: 26px;
                    letter-spacing: 0px;
                    text-align: center;
                    color: #55A630;
                    padding: 22px 58px 22px 59px;
                }
            }
        }
    }
}

.training_curses {


    .container {



        .wikipedia {
            background-color: white;
            display: flex;
            justify-content: center;
            gap: 128px;
            box-shadow: -2px 2px 20px 0px #42424226;
            width: 1200px;
            height: 216px;
            align-items: center;
            margin: 0 auto;
            margin-top: -50px;
            margin-bottom: 175px;

            .sertificat {
                text-align: center;
                width: 186px;
                height: 105px;


                h2 {
                    font-weight: 700;
                    font-size: 45px;
                    line-height: 45px;
                    letter-spacing: 0px;
                    text-align: center;
                    vertical-align: middle;
                    color: #55A630;
                }

                span {
                    font-weight: 400;
                    font-size: 23px;
                    line-height: 28px;
                    letter-spacing: 0px;
                    text-align: center;
                    vertical-align: middle;
                    color: #424242;

                }
            }

        }

        .training_curses--bottom {


            .training_curses--top {

                width: 1273px;
                margin: 0 76px 77px 91px;

                h2 {
                    font-weight: 600;
                    font-size: 35px;
                    line-height: 28px;
                    letter-spacing: 0%;
                    text-align: center;
                    color: #424242;
                }
            }

            .training_curses--mid {
                display: flex;
                align-items: center;
                justify-content: center;

                .img_strelka--right {
                    cursor: pointer;
                    margin-right: 20px;
                }

                .training_curses--card-1 {
                    background-color: white;
                    width: 360px;
                    box-shadow: 0px 4px 30px 0px #0000000D;
                    margin-right: 54px;

                    .card_top {
                        padding: 16px 14px 20px 16px;

                        .card_top--top {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 14px;

                            span {
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 22px;
                                letter-spacing: 0px;
                                color: #424242;
                            }
                        }

                        h2 {
                            width: 205px;
                            font-weight: 600;
                            font-size: 30px;
                            line-height: 100%;
                            letter-spacing: -0.4px;
                            color: #4340B4;
                            margin-bottom: 23px;
                        }

                        .curs_offline {
                            display: block;
                            width: 166px;
                            height: 39px;
                            border-radius: 9px;
                            background-color: #4340B4;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 20px;
                            letter-spacing: 0px;
                            color: #ffffff;
                            padding: 8px 26px 3px 33px;
                            text-align: center;
                            margin-bottom: 24px;
                        }

                        span {
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 20px;
                            letter-spacing: 0px;
                            color: #424242;
                        }

                        .card_center {
                            display: flex;
                            justify-content: space-between;
                            align-items: end;
                            margin-bottom: 54px;

                            .card_center--text {
                                border-left: 2px solid #5351C4;
                                width: 175px;
                                height: 90px;

                                p {
                                    font-weight: 400;
                                    font-size: 15px;
                                    line-height: 12px;
                                    letter-spacing: 0px;
                                    color: #424242;
                                    padding: 7px 0 0 9px;
                                }
                            }
                        }

                        .card_p {
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 20px;
                            letter-spacing: 0px;
                            color: #424242;
                        }
                    }

                    .card_bottom {

                        .card_link {

                            .card_link--1 {
                                display: block;
                                width: 360px;
                                height: 56px;
                                background-color: #4340B4;
                                font-weight: 600;
                                font-size: 20px;
                                line-height: 26px;
                                letter-spacing: 0px;
                                text-align: center;
                                color: #ffffff;
                                padding: 16px 70px 15px 60px;
                            }

                            .card_link--2 {
                                display: block;
                                width: 360px;
                                height: 56px;
                                background-color: #5351C41A;
                                font-weight: 600;
                                font-size: 20px;
                                line-height: 26px;
                                letter-spacing: 0px;
                                text-align: center;
                                color: #4340B4;
                                padding: 16px 70px 15px 60px;
                            }
                        }
                    }
                }

                .training_curses--card-2 {
                    background-color: white;
                    width: 360px;
                    box-shadow: 0px 4px 30px 0px #0000000D;
                    margin-right: 54px;

                    .card_top {
                        padding: 16px 14px 20px 16px;

                        .card_top--top {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 14px;

                            span {
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 22px;
                                letter-spacing: 0px;
                                color: #424242;
                            }
                        }

                        h2 {
                            width: 205px;
                            font-weight: 600;
                            font-size: 30px;
                            line-height: 100%;
                            letter-spacing: -0.4px;
                            color: #4340B4;
                            margin-bottom: 23px;
                        }

                        .curs_offline {
                            display: block;
                            width: 166px;
                            height: 39px;
                            border-radius: 9px;
                            background-color: #55A630;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 20px;
                            letter-spacing: 0px;
                            color: #ffffff;
                            padding: 8px 26px 3px 33px;
                            text-align: center;
                            margin-bottom: 24px;
                        }

                        span {
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 20px;
                            letter-spacing: 0px;
                            color: #424242;
                        }

                        .card_center {
                            display: flex;
                            justify-content: space-between;
                            align-items: end;
                            margin-bottom: 54px;

                            .card_center--text {
                                border-left: 2px solid #5351C4;
                                width: 175px;
                                height: 90px;

                                p {
                                    font-weight: 400;
                                    font-size: 15px;
                                    line-height: 12px;
                                    letter-spacing: 0px;
                                    color: #424242;
                                    padding: 7px 0 0 9px;
                                }
                            }
                        }

                        .card_p {
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 20px;
                            letter-spacing: 0px;
                            color: #424242;
                        }
                    }

                    .card_bottom {

                        .card_link {

                            .card_link--1 {
                                display: block;
                                width: 360px;
                                height: 56px;
                                background-color: #4340B4;
                                font-weight: 600;
                                font-size: 20px;
                                line-height: 26px;
                                letter-spacing: 0px;
                                text-align: center;
                                color: #ffffff;
                                padding: 16px 70px 15px 60px;
                            }

                            .card_link--2 {
                                display: block;
                                width: 360px;
                                height: 56px;
                                background-color: #5351C41A;
                                font-weight: 600;
                                font-size: 20px;
                                line-height: 26px;
                                letter-spacing: 0px;
                                text-align: center;
                                color: #4340B4;
                                padding: 16px 70px 15px 60px;
                            }
                        }
                    }
                }

                .training_curses--card-3 {
                    background-color: white;
                    width: 360px;
                    box-shadow: 0px 4px 30px 0px #0000000D;
                    margin-right: 20px;

                    .card_top {
                        padding: 16px 14px 20px 16px;

                        .card_top--top {
                            display: flex;
                            justify-content: space-between;
                            margin-bottom: 14px;

                            span {
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 22px;
                                letter-spacing: 0px;
                                color: #424242;
                            }
                        }

                        h2 {
                            width: 205px;
                            font-weight: 600;
                            font-size: 30px;
                            line-height: 100%;
                            letter-spacing: -0.4px;
                            color: #4340B4;
                            margin-bottom: 23px;
                        }

                        .curs_offline {
                            display: block;
                            width: 166px;
                            height: 39px;
                            border-radius: 9px;
                            background-color: #00A896;
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 20px;
                            letter-spacing: 0px;
                            color: #ffffff;
                            padding: 8px 26px 3px 33px;
                            text-align: center;
                            margin-bottom: 24px;
                        }

                        span {
                            font-weight: 600;
                            font-size: 20px;
                            line-height: 20px;
                            letter-spacing: 0px;
                            color: #424242;
                        }

                        .card_center {
                            display: flex;
                            justify-content: space-between;
                            align-items: end;
                            margin-bottom: 54px;

                            .card_center--text {
                                border-left: 2px solid #5351C4;
                                width: 175px;
                                height: 90px;

                                p {
                                    font-weight: 400;
                                    font-size: 15px;
                                    line-height: 12px;
                                    letter-spacing: 0px;
                                    color: #424242;
                                    padding: 7px 0 0 9px;
                                }
                            }
                        }

                        .card_p {
                            font-weight: 400;
                            font-size: 18px;
                            line-height: 20px;
                            letter-spacing: 0px;
                            color: #424242;
                        }
                    }

                    .card_bottom {

                        .card_link {

                            .card_link--1 {
                                display: block;
                                width: 360px;
                                height: 56px;
                                background-color: #4340B4;
                                font-weight: 600;
                                font-size: 20px;
                                line-height: 26px;
                                letter-spacing: 0px;
                                text-align: center;
                                color: #ffffff;
                                padding: 16px 70px 15px 60px;
                            }

                            .card_link--2 {
                                display: block;
                                width: 360px;
                                height: 56px;
                                background-color: #5351C41A;
                                font-weight: 600;
                                font-size: 20px;
                                line-height: 26px;
                                letter-spacing: 0px;
                                text-align: center;
                                color: #4340B4;
                                padding: 16px 70px 15px 60px;
                            }
                        }
                    }
                }

                .img_strelka--right {
                    cursor: pointer;
                }
            }

            .training_curses--end {
                margin-top: 75px;

                img {
                    cursor: pointer;
                    display: block;
                    margin: 0 auto;
                }
            }
        }
    }
}

.walmari {
    margin: 172px 120px 175px 121px;

    .container {
        display: flex;
        justify-content: space-between;


        .walmari_right {
            span {
                display: block;
                font-weight: 500;
                font-size: 25px;
                line-height: 28px;
                letter-spacing: 0%;
                color: #858585;
                margin-bottom: 20px;
            }


            .walmari_title {
                width: 452px;
                margin-bottom: 75px;

                h2 {
                    color: #55A630;
                    font-weight: 700;
                    font-size: 35px;
                    line-height: 107%;
                    letter-spacing: -0.4px;

                }

                .walmari_title--2 {
                    font-weight: 700;
                    font-size: 35px;
                    line-height: 107%;
                    letter-spacing: -0.4px;
                    color: #424242;
                }
            }

            .walmari_text {
                margin-bottom: 60px;
                width: 452px;
                font-weight: 500;
                font-size: 25px;
                line-height: 29px;
                letter-spacing: 0%;
                color: #424242;
            }

            .walmari_href {
                display: flex;
                gap: 48px;
                justify-content: end;

                a {
                    font-weight: 500;
                    font-size: 25px;
                    line-height: 28px;
                    letter-spacing: 0%;
                    text-align: center;
                    color: #55A630;
                }
            }
        }
    }
}

.education {

    .container {

        .education_title {
            margin-bottom: 76px;

            h2 {
                font-weight: 600;
                font-size: 35px;
                line-height: 28px;
                letter-spacing: 0%;
                text-align: center;
                color: #424242;
            }
        }

        .education_center {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 60px;

            .education_center--left {

                background-image: url(../img/education_1.png);
                width: 570px;
                height: 261px;
                padding: 35px 85px 29px 25px;

                .left_title {
                    margin-bottom: 61px;
                    display: flex;
                    gap: 46px;
                    align-items: end;

                    h3 {
                        font-weight: 600;
                        font-size: 32px;
                        line-height: 38px;
                        letter-spacing: 0px;
                        text-transform: uppercase;
                        color: #ffffff;
                    }

                }

                p {
                    font-weight: 500;
                    font-size: 18px;
                    line-height: 21px;
                    letter-spacing: 0px;
                    color: #ffffff;
                }
            }

            .education_center--right {
                width: 570px;
                height: 260px;
                background-image: url(../img/education_2.png);
                font-weight: 600;
                font-size: 32px;
                line-height: 38px;
                letter-spacing: 0px;
                text-transform: uppercase;
                color: #ffffff;

                display: flex;
                justify-content: baseline;
                align-items: end;
                padding: 0 0 30px 25px;
            }
        }

        .education_end {

            display: flex;
            justify-content: center;
            align-items: center;
            gap: 54px;
            margin-top: 54px;

            .education_end--left {

                display: flex;
                justify-content: center;
                align-items: end;
                width: 364px;
                height: 260px;
                background-image: url(../img/education_3.png);
                padding: 0 26px 25px 28px;

                h3 {
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 38px;
                    letter-spacing: 0px;
                    text-transform: uppercase;
                    color: #ffffff;
                }
            }

            .education_end--center {

                padding: 22px 0 0 28px;
                background-image: url(../img/education_4.png);
                width: 364px;
                height: 260px;

                h3 {
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 38px;
                    letter-spacing: 0px;
                    text-transform: uppercase;
                    color: #ffffff;
                }
            }

            .education_end--right {

                display: flex;
                justify-content: baseline;
                align-items: end;
                padding: 0 0 22px 28px;
                background-image: url(../img/education_5.png);
                width: 364px;
                height: 260px;

                h3 {
                    font-weight: 600;
                    font-size: 32px;
                    line-height: 38px;
                    letter-spacing: 0px;
                    text-transform: uppercase;
                    color: #ffffff;
                }
            }
        }
    }
}

.models {

    margin-top: 175px;

    .container {

        width: 1202px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 74px;
        margin: 0 auto;

        .models_left {

            h2 {
                font-weight: 700;
                font-size: 40px;
                line-height: 114.99999999999999%;
                letter-spacing: -0.4px;
                color: #55A630;
            }

            .models_text {
                margin-top: 75px;
                font-weight: 500;
                font-size: 25px;
                line-height: 31px;
                letter-spacing: 0px;
                color: #424242;
                margin-bottom: 70px;
            }

            .models_btn {
                width: 385px;
                height: 75px;
                padding: 24px 95px 25px 95px;
                background-color: #55A630;
                cursor: pointer;

                a {
                    font-weight: 600;
                    font-size: 23px;
                    line-height: 26px;
                    letter-spacing: 0px;
                    color: #ffffff;
                }
            }
        }
    }
}

.master_class {

    .container {

        .master_class--top {
            margin-top: 177px;

            h3 {
                font-weight: 600;
                font-size: 35px;
                line-height: 28px;
                letter-spacing: 0%;
                text-align: center;
                color: #424242;
                margin-bottom: 30px;
            }

            .master_class--top-text {
                font-weight: 500;
                font-size: 25px;
                line-height: 26px;
                letter-spacing: 0px;
                text-align: center;
                color: #424242;
                margin-bottom: 35px;
            }
        }

        .master_class--center {
            display: flex;
            align-items: center;
            justify-content: center;

            img {
                margin-right: 25px;
            }

            .master_class--end-left {

                .master_class--left-card {
                    margin-right: 153px;
                    width: 520px;
                    height: 453px;
                    box-shadow: 0px 2px 20px 0px #42424226;

                    .master_class--card-bottom {
                        display: flex;
                        justify-content: space-between;
                        margin-top: -4px;

                        .master_class--card-bottom_left {
                            margin-left: 29px;



                            .time {
                                margin-top: 15px;
                                display: block;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 24px;
                                letter-spacing: 0px;
                                color: #424242a1;
                                margin-bottom: 10px;
                            }

                            img {
                                display: flex;
                                justify-content: end;
                                align-items: end;
                                padding-left: 250px;
                                margin-bottom: -16px;

                            }

                            .left_card--text {
                                width: 293px;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 24px;
                                letter-spacing: 0%;
                                color: #424242;
                                margin-bottom: 21px;

                                img {
                                    display: block;
                                    margin-left: 40px;
                                }

                            }

                            .trener {
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 26px;
                                letter-spacing: 0px;
                                color: #424242db;
                            }


                        }

                        .master_class--card-bottom_right {

                            .grn {
                                width: 153px;
                                height: 132px;
                                background-color: #ECF9EB;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                span {
                                    font-weight: 600;
                                    font-size: 20px;
                                    line-height: 22px;
                                    letter-spacing: 0px;
                                    color: #424242;
                                }
                            }

                            .right_href {
                                display: block;
                                width: 153px;
                                height: 98px;
                                background-color: #55A630;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                img {
                                    display: block;
                                    margin: 0 auto;

                                }




                            }
                        }
                    }
                }
            }

            .master_class--end-right {


                .master_class--right-card {
                    margin-right: 25px;
                    width: 520px;
                    height: 453px;
                    box-shadow: 0px 2px 20px 0px #42424226;

                    .master_class--right-card_end {
                        display: flex;
                        justify-content: space-between;


                        .master_class--right-card_end--left {

                            padding: 15px 0 0 29px;

                            .time {
                                display: block;
                                font-weight: 500;
                                font-size: 16px;
                                line-height: 24px;
                                letter-spacing: 0px;
                                color: #424242;
                                margin-bottom: 10px;
                            }

                            .right_card--text_1 {
                                width: 250px;
                                display: block;
                                font-weight: 600;
                                font-size: 18px;
                                line-height: 24px;
                                letter-spacing: 0%;
                                color: #424242;
                                margin-bottom: 21px;
                            }

                            .right_card--text_2 {
                                width: 272px;
                                font-weight: 400;
                                font-size: 18px;
                                line-height: 21px;
                                letter-spacing: 0px;
                                color: #424242;
                            }
                        }

                        .master_class--right-card_end--right {

                            .free_item {
                                margin-top: -4px;
                                width: 153px;
                                height: 132px;
                                background-color: #ECF9EB;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                span {
                                    font-weight: 600;
                                    font-size: 20px;
                                    line-height: 22px;
                                    letter-spacing: 0px;
                                    color: #424242;

                                }
                            }

                            a {
                                display: block;
                                width: 153px;
                                height: 98px;
                                background-color: #55A630;
                                display: flex;
                                justify-content: center;
                                align-items: center;

                                img {
                                    display: block;
                                    margin: 0 auto;
                                }
                            }
                        }
                    }
                }
            }
        }

        .master_class--end {

            img {

                display: block;
                margin: 0 auto;
                margin-top: 75px;
                margin-bottom: 173px;
                cursor: pointer;
            }
        }
    }
}

.why_us {
    margin-bottom: 166px;

    .container {

        .why_us--top {
            font-weight: 600;
            font-size: 35px;
            line-height: 28px;
            letter-spacing: 0%;
            text-align: center;
            color: #424242;
            margin-bottom: 75px;
        }

        .why_us--end {
            display: flex;
            justify-content: center;
            gap: 29px;
            align-items: center;

            .why_us--end-left {
                width: 381px;
                height: 315px;
                box-shadow: 0px 3px 20px 0px #42424226;
                padding: 40px 16px 12px 30px;

                h4 {
                    margin-bottom: 33px;
                    font-weight: 600;
                    font-size: 25px;
                    line-height: 26px;
                    letter-spacing: 0%;
                    color: #424242;
                }

                p {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 23px;
                    letter-spacing: 0px;
                    color: #1C1E23;
                }

            }

            .why_us--end-center {
                width: 381px;
                height: 315px;
                box-shadow: 0px 3px 20px 0px #42424226;
                padding: 40px 16px 12px 30px;

                h4 {
                    margin-bottom: 33px;
                    font-weight: 600;
                    font-size: 25px;
                    line-height: 26px;
                    letter-spacing: 0%;
                    color: #424242;
                }

                p {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 23px;
                    letter-spacing: 0px;
                    color: #1C1E23;
                }
            }

            .why_us--end-right {
                width: 381px;
                height: 315px;
                box-shadow: 0px 3px 20px 0px #42424226;
                padding: 40px 16px 12px 30px;

                h4 {
                    margin-bottom: 33px;
                    font-weight: 600;
                    font-size: 25px;
                    line-height: 26px;
                    letter-spacing: 0%;
                    color: #424242;
                }

                p {
                    font-weight: 400;
                    font-size: 20px;
                    line-height: 23px;
                    letter-spacing: 0px;
                    color: #1C1E23;
                }
            }
        }
    }
}

.special {

    .container {
        margin-bottom: 175px;

        .special_top {

            h3 {
                font-weight: 600;
                font-size: 35px;
                line-height: 28px;
                letter-spacing: 0%;
                text-align: center;
                color: #424242;
            }
        }

        .special_center {
            margin-top: 75px;
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 14px;

            .special_center--mid {
                display: flex;
                justify-content: center;
                align-items: center;
                gap: 30px;

                .special_center--left:hover {
                    cursor: pointer;

                }
            }
        }

        .special_end {
            margin-top: 75px;

            img {
                display: block;
                margin: 0 auto;
            }
        }
    }
}


.forms {
    .container {

        .form {
            width: 1200px;
            height: 526px;
            margin: 0 auto;
            box-shadow: 0px 2px 20px 0px #42424226;
            padding-top: 75px;
            margin-bottom: 175px;

            h2 {
                font-weight: 600;
                font-size: 30px;
                line-height: 28px;
                letter-spacing: 0%;
                text-align: center;
                color: #55A630;
                margin-bottom: 20px;
            }

            p {
                font-weight: 500;
                font-size: 16px;
                line-height: 26px;
                letter-spacing: 0%;
                text-align: center;
                color: #424242;
                margin-bottom: 60px;
            }

            .form_input--name {
                margin: 0 auto;
                display: block;
                width: 427px;
                height: 60px;
                border: 1px solid #55A630;
                margin-bottom: 15px;
                padding: 22px 0 21px 34px;
                font-weight: 400;
                font-size: 14px;
                line-height: 13px;
                letter-spacing: 0px;

                &::placeholder {
                    color: #aaa;
                }

                &:focus {
                    border-color: #388e3c;
                }
            }

            .form_input--tell {
                margin: 0 auto;
                display: block;
                width: 427px;
                height: 60px;
                border: 1px solid #55A630;
                margin-bottom: 31px;
                padding: 22px 0 21px 34px;
                font-weight: 400;
                font-size: 14px;
                line-height: 13px;
                letter-spacing: 0px;


                &::placeholder {
                    color: #aaa;
                }

                &:focus {
                    border-color: #388e3c;
                }
            }

            button {
                display: block;
                width: 427px;
                height: 60px;
                margin: 0 auto;
                background-color: #55A630;
                font-weight: 600;
                font-size: 23px;
                line-height: 16px;
                letter-spacing: 0px;
                color: #ffffff;
                border: none;
            }
        }
    }
}

